/* Newsletter Stylesheet */

* {
	box-sizing: border-box;
	font-size: 100%;
	font-family: 'Helvetica'; /* Helvetica or Arial are top choices */
	color: #4d4d4d;
}

body {
	background-color: #d9d9d9;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}

button:focus {
	outline: 0;
}

.wrapper {
	width: 90%;
	padding: 0;
	margin: auto; 
	background-color: white;
	border-radius: 20px; 
    box-shadow: 10px 10px 30px grey; 
    border: solid #f7941d 5px;
}

.logo-contact-primary {
	display: none;
}

.logo-contact-secondary {
	display: block;
}

.logoholder {
	padding-top: 15px;
}

.secondary-logo {
	width: 100%;
	margin: auto;
}

.contact-and-hours {
	text-align: center;
}

.navBlock {
	margin-bottom: 15px;
	padding: 0px 15px;
}

.navList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.navListItem {
	display: inline-block;
	color: #f7941d;
}

.navListLink:active, .navListLink:link, .navListLink:visited {
	text-decoration: none;
	color: #f7941d;
}

.navListLink:hover {
	color: black;
	transition: 0.2s;
}

.grayBackground {
	background-color: #d9d9d9;
}

.bannerContainer {
	padding: 0px 15px;
}

.topBannerImg {
	width: 100%;
}

.bannerDesc {
	margin-top: -5px;
	padding: 20px 15px 15px 15px;
}

.bannerDescButton {
	background-color: #f7941d;
	margin: 15px auto 15px auto;
	padding: 10px;
	color: white;
	display: block;
	text-decoration: none;
	border: none;
	cursor: pointer;
	text-align: center;
}

.featuredProductImg {
	width: 100%;
	border: solid 1px #e6e6e6;
	margin: auto;
}

.featuredProductButton {
	background-color: #f7941d;
	margin: 5px auto 15px auto;
	padding: 10px;
	color: white;
	display: block;
	text-decoration: none;
	border: none;
	cursor: pointer;
	text-align: center;
}

.contentWrapper {
	width: 100%;
	padding: 15px;
}

.NewsHeader {
	color: #f7941d; /* HTM Lighting Orange */
}

.featuredBlogImg {
	width: 40%; 
	float: left; 
	margin-right: 15px;
}

.blogLink:active, .blogLink:link, .blogLink:visited {
	text-decoration: none;
	color: #42a5d7;
}

.blogLink:hover {
	text-decoration: underline;
}

.outsideBlock {
	padding: 15px 15px 30px 15px;
}

.noVertPadding {
	margin: 0px auto;
}

.categoryListItem {
	text-align: center;
	font-size: 125%;
	padding: 0;
}

.categoryItemLink:link, .categoryItemLink:visited, .categoryItemLink:active {
	font-weight: bold;
	text-decoration: none;
	width: 100%;
}

.categoryItemLink:hover {
	color: #f7941d;
	transition: 0.2s;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; overflow: 
	hidden; max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.b2bBanner {
	width: 100%;
}

.footer {
	margin-top: -5px;
	width: 100%;
	border-radius: 0px 0px 15px 15px;
	text-align: center;
	padding: 15px;
}

.socialList {
	padding: 0;
	list-style-type: none;
}

.socialListPin {
	display: inline-block;
	margin: 0px 10px;
}

.socialLinkPin {
	width: 30px;
}

.fa {
  padding: 10px;
  font-size: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.infoList {
	padding: 0;
	list-style-type: none;
}

.infoListItem {
	display: inline-block;
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 435px) { 
	.logo-contact-primary {
		display: block;
	}

	.logo-contact-secondary {
		display: none;
	}

}

@media only screen and (min-width: 600px) {
	[class*="col-"] {
		float: left;
		padding: 15px;
	}

	/* For tablets: */
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}

	.wrapper {
		width: 75%;
	}

	.featuredBlogImg {
		width: 50%;
	}

}

@media only screen and (min-width: 768px) {  

	[class*="col-"] {
		float: left;
		padding: 15px;
	}

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	.wrapper {
		width: 70%;
		padding: 0;
		margin: auto; 
		background-color: white;
		border-radius: 20px; 
        box-shadow: 10px 10px 30px grey; 
        border: solid #f7941d 5px;
	}

	.featuredProductImg {
		width: 100%;
		height: 130px;
		border: solid 1px #e6e6e6;
	}

	.featuredBlogImg {
		width: 40%; 
		float: left; 
		margin-right: 15px
	}

}

@media only screen and (min-width: 1100px) {

	.wrapper {
		width: 55%;
	}
}

@media only screen and (min-width: 1250px) {

	.wrapper {
		width: 40%;
	}
}